<launch>

  <arg name="gui" default="true"/>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find terabot_control)/config/terabot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" args="joint_state_controller
            mobile_base_controller"/>

  <!--node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->

  <!-- Start EKF for localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find terabot_control)/config/localization.yaml" />
  </node>

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen">
    <rosparam>
      link_name: base_link
      robot_name: terabot
      marker_size_scale: 1.0
    </rosparam>
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
    <!--param name="robot_description" command="$(find xacro)/xacro '$(find terabot_description)/urdf/terabot.xacro'" /-->
    <!--remap from="/joint_states" to="/terabot/joint_states" /-->
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find terabot_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="mobile_base_controller/cmd_vel"/>
  </node>

</launch>
