<launch>
  <!-- run on terabot robot, assume this is ros master -->
    <!-- depth camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="align_depth" value="true"/>
      <arg name="unite_imu_method" value="linear_interpolation" />
      <arg name="depth_fps"           value="15"/>
      <arg name="infra_fps"           value="15"/>
      <arg name="color_fps"           value="15"/>
      <arg name="gyro_fps"            value="400"/>
      <arg name="accel_fps"           value="250"/>
    </include>

    <!-- imu -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" output="screen">
      <param name="fixed_frame" value="odom" />
      <param name="use_mag" value="false" />
      <param name="publish_tf" value="false" />
      <param name="world_frame" value="enu" />
      <remap from="/imu/data_raw" to="/camera/imu"/>
      <remap from="/imu/data" to="/rtabmap/imu"/>
    </node>

    <!-- rgbd_sync -->
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <param name="compressed_rate"  type="double" value="10"/>
      <remap from="rgb/image"        to="/camera/color/image_raw"/>
      <remap from="depth/image"      to="/camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info"  to="/camera/color/camera_info"/>
      <remap from="rgbd_image"       to="/camera/rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="false"/> 
    </node>

    <!-- Odometry -->
    <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
      <param name="subscribe_rgbd" type="bool"   value="true"/>
      <param name="frame_id"       type="string" value="base_link"/>
      <remap from="rgbd_image" to="/camera/rgbd_image"/>
    </node>

    <include file="$(find terabot_drive)/launch/base_control.launch">
    </include>
</launch>