<launch>
    <!-- run this on PC client -->
    <!-- SLAM -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="rtabmap_args" value="--delete_db_on_start --Optimizer/GravitySigma 0.3"/>
      <!--arg name="subscribe_depth" value="false"/-->
      <arg name="subscribe_rgbd" value="true" />
      <arg name="rgbd_topic" value="/rtabmap/rgbd_image" />
      <arg name="compressed" value="true" />
      <arg name="rgbd_sync" value="true" />
      
      <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
      <arg name="rgb_topic" value="/camera/color/image_raw" />
      <arg name="camera_info_topic" value="/camera/color/camera_info" />
      <arg name="approx_sync" value="false" />
      <!--arg name="wait_imu_to_init" value="true" />
      <arg name="imu_topic" value="/rtabmap/imu" /-->

      <!-- odometry -->
      <arg name="visual_odometry" value="true" />
      <arg name="approx_rgbd_sync" value="false" />
    </include>

    <param name="robot_description"
	  command="$(find xacro)/xacro --inorder '$(find terabot_description)/urdf/terabot.xacro'" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="" />
    </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

</launch>