<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    <arg name="unite_imu_method" value="linear_interpolation" />
  </include>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" output="screen">
    <param name="fixed_frame" value="odom" />
    <param name="use_mag" value="false" />
    <param name="publish_tf" value="false" />
    <param name="world_frame" value="enu" />
    <remap from="/imu/data_raw" to="/camera/imu"/>
    <remap from="/imu/data" to="/rtabmap/imu"/>
  </node>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="rtabmap_args" value="--delete_db_on_start --Optimizer/GravitySigma 0.3"/>
    <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
    <arg name="rgb_topic" value="/camera/color/image_raw" />
    <arg name="camera_info_topic" value="/camera/color/camera_info" />
    <arg name="approx_sync" value="false" />
    <arg name="wait_imu_to_init" value="true" />
    <arg name="imu_topic" value="/rtabmap/imu" />
  </include>

</launch>