 <launch>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" >
    <param name="scan_height" value="1"/>
    <param name="scan_time" value="0.0666667"/>
    <param name="range_min" value="0.2"/>
    <param name="range_max" value="10.0"/>
    <param name="output_frame_id" value="depth_camera"/>
    <remap from="image" to="/camera/depth/image_rect_raw" />
  </node>
  </launch>